<div class="header">
  <div class="header-logo">
    <%= link_to "Repos", "/" %>
    <%= link_to image_tag("coffee.cup.png", class:"img"), "/" %>
  </div>

  <ul div class="header-lists">
    <% if user_signed_in? %>
      <li><%= link_to '新規投稿', new_cafe_path, class: "new-cafe" %></li>
      <li><%= link_to 'マイページ', user_path(current_user.id), class: "user-page" %></li>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
    <% else %>
      <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: "sign-in" %></li>
    <% end %>
  </ul>
</div>

<%# cssは devise/registration/newを併用 %>
<%= form_with model: @users, url: user_path, class:"registrarion", method: :patch, local: true do |f| %>
  <div class="registration">
    <h2>編集画面</h2>

  <div class="form-group">
      <label class="form-text">ニックネーム</label>
      <span class="indispensable">※必須</span>
      <div class="field">
        <%= f.text_field :nickname, value: current_user.nickname, class:"input-default" %>
  </div>
  <div class="form-group">
      <label class="form-text">Email</label>
      <span class="indispensable">※必須</span>
      <div class="field">
        <%= f.email_field :email, value: current_user.email, class:"input-default" %>
      </div>

  <div class="form-group">
      <label class="form-text">新しいパスワード(6文字以上)</label>
      <span class="indispensable">※必須</span>
      <div class="field">
    <%= f.password_field :password, class:"input-default", autocomplete: "new-password" %>
  </div>

     <div class="form-group">
      <label class="form-text">プロフィール</label>
      <span class="indispensable"></span>
      <div class="field">
        <%= f.text_area :profile, value: current_user.profile, class:"input-area-default" %>
      </div>

  <div class="actions">
    <%= f.submit "変更する", class:"submit" %>
  </div>
<% end %>
</div>


