<div class="header">
  <div class="header-logo">
    <%= link_to "Repos", "/" %>
    <%= link_to image_tag("coffee.cup.png", class:"img"), "/" %>
  </div>

  <ul div class="header-lists">
    <% if user_signed_in? %>
      <li><%= link_to '新規投稿', new_cafe_path, class: "new-cafe" %></li>
      <li><%= link_to 'マイページ', user_path(current_user.id), class: "user-page" %></li>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
    <% else %>
      <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: "sign-in" %></li>
    <% end %>
  </ul>
</div>