<%= render "shared/header" %>

<div class="main">
  <div class="wrapper">
    <div class="side-image">
      <%= image_tag "top-sweets.png", class: "top-img" %>
      <%= image_tag "top-coffee.png", class: "bottom-img" %>
    </div>
    <div class="slide" id="makeImg">
      <%= image_tag "sepia.640.png", class:"img" %>
      <%= image_tag "tea.sepia.png", class:"img" %>
      <%= image_tag "sweets.sepia.png", class:"img" %>
      <%= image_tag "cafe.sepia.png", class:"img" %>
    </div>
  </div>
  <div class="contents">
    <h1>あなたはまだ出会っていないかもしれない...<br>運命とも思える<span>最高の一杯に</span></h1>
    <h2>目的</h2>
    <ul div class="purpose">
        <li><%= link_to 'コーヒー', "#", class: "genre" %></li>
        <li><%= link_to '紅茶', "#", class: "genre" %></li>
        <li><%= link_to 'スイーツ', "#", class: "genre" %></li>
        <li><%= link_to 'オシャレ', "#", class: "genre" %></li>
    </ul>
    <h2>地域</h2>
    <%= form_with(url: search_cafes_path, local: true, method: :get) do |f| %>
      <ul div class="place">
        <li><%= f.submit "東京", class:"btn-region", id:"search1", method: :get %></li>
        <li><%= f.submit "北海道", class:"btn-region", id:"search2", method: :get %></li>
        <li><%= f.submit "東北", class:"btn-region", id:"search3", method: :get %></li>
        <li><%= f.submit "関東", class:"btn-region", id:"search4", method: :get %></li>
        <li><%= f.submit "中部", class:"btn-region", id:"search5", method: :get %></li>
        <li><%= f.submit "関西", class:"btn-region", id:"search6", method: :get %></li>
        <li><%= f.submit "中国", class:"btn-region", id:"search7", method: :get %></li>
        <li><%= f.submit "四国", class:"btn-region", id:"search8", method: :get %></li>
        <li><%= f.submit "九州", class:"btn-region", id:"search9", method: :get %></li>
      </ul>
    <% end %>
  </div>
</div>

<div class="footer">
  <%= image_tag "plant-698637_640.jpg", class:"footer-img" %>
  <div class="message">
    <h2>カフェに求めるものはなんですか？<br><span>あなたにも運命の出会いがありますように...</span></h2>
    <%= image_tag "coffee.girl.png", class:"footer-girl" %>
  </div>
</div>