<%= render "shared/header" %>

<%= form_with model: @cafes, url: cafes_path, class:"new-cafe", local: true do |f| %>

  <h2>新規カフェ登録</h2>

  <div class="form-image">
    <p>画像のアップロード<br>カフェの外観がわかる画像があればお願いします！<span>※必須</span></p>
    <%= f.file_field :image, id:"cafe-image" %>
  </div>
  <div class="form-cafe">
    <label class="form-text">名前</label>
    <span class="indispensable">※必須</span>
    <div class="field">
      <%= f.text_field :name, class:"input-default", id:"name" %>
    </div>
  </div>
  <div class="form-cafe">
    <label class="form-text">住所</label>
    <span class="indispensable">※必須</span>
    <div class="field">
      <%= f.text_field :address, class:"input-default", id:"address" %>
    </div>
  </div>
  <div class="form-cafe">
    <label class="form-text">URL</label>
    <div class="field">
      <%= f.text_field :URL, class:"input-default", id:"URL" %>
    </div>
  </div>
  <div class="form-cafe">
    <label class="form-text">おすすめポイント！</label>
    <span class="indispensable">※必須</span>
    <div class="area">
      <%= f.text_area :recommend, class:"input-area-default", id:"recommend" %>
    </div>
  </div>
    <div class="form-image">
    <p>その他画像（複数選択可能）<span>※必須</span></p>
    <%= f.file_field :images, multiple: true %>
  </div>
  <div class="form-cafe">
    <label class="form-text">目的</label>
    <span class="indispensable">※必須</span>
    <div class="field">
      <%= f.collection_select(:purpose_id, Purpose.all, :id, :name, {}, {class:"select-box", id:"cafe-purpose"}) %>
    </div>
  </div>
  <div class="form-cafe">
    <label class="form-text">地域</label>
    <span class="indispensable">※必須</span>
    <div class="field">
      <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box", id:"cafe-prefecture"}) %>
    </div>
  </div>
  <div class="form-cafe">
    <label class="form-text">パスワード</label>
    <span class="indispensable">※必須</span>
    <div class="field">
      <%= f.text_field :password, class:"input-default", id:"password" %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "投稿する", class:"submit-cafe" %>
  </div>
<% end %>