<%= render "shared/header" %>

<div class="cafe-all">
  <div class="search-header">
    <h2>カフェ一覧</h2>

      <div class="prefecture-search">
        <%= render "shared/prefecture" %>
        <%= render "shared/purpose" %>
     </div>
  </div>

  <h3 class="region"><%= @region %></h3>
  <div class="cafe-order">
    <% @cafe.each do |cafe| %>
      <div class="cafe-search">
        <%= link_to cafe_path(cafe) do %>
          <%= image_tag cafe.image, class:"search-image" %>
          <div class="search-name">
            『<%= cafe.name %>』
          </div>
          <div class="search-purpose">
          目的:  <%= cafe.purpose.name %>
          </div>
          <div class="search-region">
          地域:  <%= cafe.prefecture.name %>
          </div>
          <div class="search-address">
          住所:  <%= cafe.address %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
