<%= render "shared/header" %>

<%# if @region != "東京" || @region != "北海道" %>
  <%#= form_with model: @cafes, class:"search-cafe", local: true do |f| %>
    <%# if @region = "四国" %>
      <%#= f.select :prefecture_id, [["香川", 37], ["愛媛", 38]], { include_blank: true } %>
      <%#= link_to "検索", search_cafes_path(:prefecture_id), method: :get %>
    <%# end %>
  <%# end %>

<%# end %>

<div class="cafe-all">
  <h2>カフェ一覧</h2>
  <h3 class="region"><%= @region %></h3>
  <div class="cafe-order">
    <% @cafe.each do |cafe| %>
      <div class="cafe-search">
        <%= link_to cafe_path(cafe) do %>
          <%= image_tag cafe.image, class:"search-image" %>
          <div class="search-name">
            『<%= cafe.name %>』
          </div>
          <div class="search-purpose">
          目的:  <%= cafe.purpose.name %>
          </div>
          <div class="search-region">
          地域:  <%= cafe.prefecture.name %>
          </div>
          <div class="search-address">
          住所:  <%= cafe.address %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>