<%= render "shared/header" %>

<div class="cafe-all">
  <h2>カフェ一覧</h2>
  <h3 class="region"><%= @region %></h3>
  <div class="cafe-order">
    <% @cafe.each do |cafe| %>
      <div class="cafe-search">
        <%= image_tag cafe.image, class:"search-image" %>
        <div class="search-name">
          <%= cafe.name %>
        </div>
        <div class="search-region">
          <%= cafe.prefecture.name %>
        </div>
        おすすめポイント！
        <div class="search-recommend">
          <%= cafe.recommend %>
        </div>
      </div>
    <% end %>
</div>