<%= render "shared/header" %>

<div class="cafe-detail">
  <%= image_tag @cafe.image, class:"cafe-image" %>
    <div class="cafe-name">
      名前:  『<%= @cafe.name %>』
    </div>
    <div class="cafe-address">
      住所:  <%= @cafe.address %>
    </div>
    <div class="cafe-URL">
      <%= @cafe.URL, placeholder="URL" %>
    </div>
    <div class="cafe-purpose">
      目的:  <%= @cafe.purpose.name %>
    </div>
    <div class="point">おすすめポイント！</div>
    <div class="cafe-recommend">
      <%= @cafe.recommend %>
    </div>
   <div class="cafe-user">
      投稿者:  <%= link_to "#{@cafe.user.nickname}", user_path(@cafe.user_id), class:"post-user" %>
      <% if current_user.id == @cafe.user_id %>
        <div class="edit-btn">
          <%= link_to "編集する", edit_cafe_path, class:"cafe-edit" %>
          <%= link_to "削除する", cafe_path, method: :delete, class:"cafe-destroy" %>
        </div>
      <% end %>
    </div>
</div>

<% if user_signed_in? %>
<div class="comment">
  <h2>コメント</h2>
  <div class="comment-area">
    <%= form_with(model: [@cafe, @comment], local: true) do |f| %>
      <%= f.text_area :text, class:"text-area" %>
      <%= f.file_field :image, class:"comment-image" %>
    <div class="action">
      <%= f.submit "コメントする", class:"comment-btn" %>
    </div>
    <% end %>
  </div>
</div>
<div class="all-comments">
  <% @comments.each do |comment| %>
    <li class="comments-list">
      <div class="comment-user">
        投稿者: <%= link_to comment.user.nickname, user_path(comment.user.id) %>
      </div>
      <div class="comment-text">
        <%= comment.text %>
      </div>
      <div class="comments-image">
        <%= image_tag comment.image.variant(resize: '300x300') if comment.image.attached? %>
      </div>
    </li>
  <% end %>
</div>
<% end %>